* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Courier New", Courier, monospace;
  font-size: 16px;
  background-color: #36382e;
  color: #dadad9;
  margin: 10px 20px;
  padding: 10px 30px;
}
.faq-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 20px;
}
h1 {
  margin-bottom: 20px;
}
.faq-answer {
  display: none;
}
.faq-question::before {
  content: "+ ";
}
.faq-question {
  cursor: pointer;
}
.faq.active .faq-answer {
  display: block;
}
.faq-answer {
  margin: 10px 0;
  padding: 5px 10px;
}
.faq {
  border-bottom: 1px solid #b6a3a3;
  padding: 15px 0;
}
